<h1>Ajout d'un assignment</h1>
<form
  ngForm
  #assignmentForm
  (submit)="onSubmit($event); assignmentForm.reset()"
  class="form"
>
@if (progress) {
  <mat-toolbar class="progress-bar">
    <mat-progress-bar color="accent" [value]="progress"></mat-progress-bar>
    <span class="progress">{{ progress }}%</span>
  </mat-toolbar>
  }

  <mat-form-field>
    <input
      matInput
      placeholder="Nom"
      required
      [(ngModel)]="assignment.nomAssignment"
      name="nom"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Date de rendu</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      [(ngModel)]="assignment.dateDeRendu"
      name="date"
    />
    <mat-hint>dd/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Nom Etudiant"
      required
      [(ngModel)]="assignment.studentName"
      name="studentName"
    />
  </mat-form-field>

  <mat-form-field>
    <div>
      <mat-toolbar>
        <input matInput [value]="assignment.studentPhoto" />

        <button
          mat-flat-button
          color="primary"
          [disabled]="!currentFile"
          (click)="upload()"
          type="button"
        >
          Upload
        </button>
      </mat-toolbar>

      <input
        type="file"
        id="fileInput"
        (change)="selectFile($event)"
        name="fileInput"
        style="margin-top: 10px;"
      />
    </div>
  </mat-form-field>

  @if (message) {
    <div class="message">
      {{ message }}
    </div>
  }

  <button
    mat-stroked-button
    color="primary"
    [disabled]="assignment.nomAssignment == '' || assignment.dateDeRendu === undefined || assignment.studentName == '' || assignment.studentPhoto == 'Sélectionner une photo' "
  >
    Ajouter un devoir
  </button>
</form>
